/* Making page border box */

* {
    box-sizing: border-box;
}

/* Page height and text setting */
body {
    /* height: 100%; */
    text-align: center;
    background-color: black;
    color: antiquewhite;
    padding-top: 25px;
}

h1 {
    background-color: rgb(28, 27, 27);
    width: 50%;
    margin: auto;
}

img.cooleo {
    border: 3px solid #6c21ad;
    
}

img.Gam {
    border: 3px solid #21ad52;
}

#footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    color: rgb(197, 200, 212);
    font-family: 'Permanent Marker';
    font-style: italic;
    font-size: 26px;
    /* border: white double; */
}

#footer.cent {
    margin: auto;
    width: 99%;
    border-top: 3px solid #6c21ad;
}



.column {
    margin:auto;
    float: center;
    width: 33.33%;
    padding: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

.card {
  background-color: rgba(38, 37, 37, 0.858);
  padding: 20px;
  width: 75%;
  margin: 50px auto auto auto;
}

